html, body{
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
    background: white;
}

h1, h2, h3, h4{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(37, 101, 153);
    font-size: 2em;
    text-align: center;
}

h4{
    text-align: left;
    margin: 0;
    padding: 0;
}

li, a, span, p, button{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(37, 101, 153);
}

h1{
    padding: 2rem;
    margin: 0;
    font-size: 3.5rem;
    color: white;
    background-image: url('/images/viktor-forgacs-DzpViKMZHe8-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color:rgb(18, 116, 155);
    background-blend-mode: overlay;
  
}

h2{
    margin: 1rem;
}

h3{
    margin-top: 0;
}

nav{
    margin: 0;
    height: 100%;
    padding: 0;
}

nav ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 2rem;
}

nav ul li{
    margin: 0 1rem;
}

nav ul a{
    text-decoration: none;   
    font-size: 1.2rem;
}

nav ul a:hover{
    background-color: white;
}

header{
    text-align: center;
}

.home{
    width: 100%;
    margin: 0;
    text-align: center;
    height: calc(100vh - 168px);
    overflow: hidden;
}

.home section{
    text-align: center;
}

.home section a{
    width: 100%;
}

.show-page{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.show-page div{
    margin: 1rem;
}

.show-page div:first-of-type{
    text-align: center;
}

.map-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 400px;
}

.civ-details{
    text-align: left;
}

.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.result{
    margin: 1rem;
    padding: 0;
    position: relative;
    list-style: none;
}

.result a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: black;
    overflow: hidden;
    background-color: rgb(14, 136, 136);
  
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.431);
}

.result a:hover{
    transform: scale(1.02);
    transition: transform .2s;
}

.maps li{
    width: 200px;
}

.maps img{
    width: 100%;
}

.civilizations img{
    width: 150px;
}

.civilizations li{
    width: 200px;
    height: 200px;
}

.title{
    width: 100%;
    background-color: rgb(14, 136, 136);
    color: white;
    padding: .5rem;
    font-size: 1.3rem;
}

.result-background{
    width: 200px;
    height: auto;
}

.description{
    text-align: center;
}


.ring-background{
    z-index: 200;
}


.slide a{
    display: flex;
    flex-direction: column;
}

.center{ 
    width: 150%;
}

.center .result-background{
    
}